
body {
  background-color: lightgrey;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.flex_block {
  width: calc(100vw - 25px);
}
.wikipedia_container {
  display: flex;
  flex-direction: column;
}
.wikipedia_header {
  text-align: center;
}
.wikipedia_links li {
  font-weight: bold;
}
.wikipedia_links li p {
  font-weight: normal;
}
@media all and (max-width: 640px) {
  .wikipedia_header {
    font-size: 25px;
  }
  .wikipedia_links li {
    font-size: 20px;
  }
  .wikipedia_links li p {
    font-size: 17px;
  }
}